*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 25px 40px ;
    font-size:22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);;
    font-family: 'Times New Roman', Times, serif;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
nav ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
}
nav p{
    cursor: pointer;
    padding: 10px 20px;
}

nav p:hover{
    background-color: rgb(184, 184, 184);

}
nav ul li:hover{
    background-color: rgb(184, 184, 184);
}
.hero{
    position: relative;
}
.hero img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.hero h2{
    font-weight: 500;
    font-size: 50px;
    position:absolute;
    bottom: 40px;
    left: 40px;
    letter-spacing: 5px;
    color: gray;
}
.about{
    max-width: 100%;
    padding: 100px 0;
    font-family: 'Times New Roman', Times, serif;
}
.section-about{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.about img{
    width: 40%;
    border-radius: 10px;
}
.info{
    width: 40%;
    text-align: center;
}
.info h2{

    letter-spacing: 5px;
    font-weight: 400;
    margin: 20px;
    font-size: 50px;
}
.p1{
    letter-spacing: 5px;
    font-weight: 400;
    margin: 60px 0;
    font-size: 23px;
}

.p2{
    font-size: 25px;
    margin: 20px 40px;
    text-align: left;
    max-width: 700px;
    line-height: 1.6;
}
.p3{
    font-size: 25px;
    margin: 50px 40px;
    text-align: left;
    max-width: 700px;
    line-height: 1.6;
    color: gray;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    max-width: 100%;
    padding: 100px 0;
    font-family: 'Times New Roman', Times, serif;
}
#img{
    width: 300px
}

.heading{
    text-align: center;
    letter-spacing: 5px;
    font-weight: 400;
    margin: 20px;
    font-size: 50px;
}

#inner_menu_content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 50px;
    font-family: 'Times New Roman', Times, serif;


}
.menu_list h3{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
}
.menu_list p{
    font-size: 20px;
    padding-top: 20px;
    color: gray;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    max-width: 100%;
    margin: 100px 100px;
    font-family: 'Times New Roman', Times, serif;

}
.contact h1{
    letter-spacing: 5px;
    font-weight: 400;
    margin: 20px;
    font-size: 50px;
}
#para1{
    font-size: 23px;
    margin: 20px 20PX;
    text-align: left;
    line-height: 1.6;
}
.contact h3{
    font-size: 23px;
    margin: 20px 20PX;
    text-align: left;
    line-height: 1.6;
    color: rgb(64, 5, 119);
}
input{
    display: block;
    width: 100%;
    margin: 10px 20PX;
    padding: 30px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: larger;
}
.btn{
    width: 200px;
    border: none;
    cursor: pointer;
}
  